.sentence-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-bottom: 60px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
        grid-gap: 60px;
    }
    .sentence-box {
        box-shadow: 0 2px 30px rgba(0, 0, 0, 0.06);
        border-radius: 16px;
        background: #fff;
        padding: 40px;
        position: relative;
        text-align: center;
        min-height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @media (max-width: 990px) {
            padding: 25px;
        }
    }
    .num {
        box-shadow: 0 2px 30px rgba(58, 164, 221, 0.06);
        background: #fff;
        padding: 15px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        position: absolute;
        top: -40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        font: 700 1.25rem 'Montserrat', sans-serif;
        @media (max-width: 990px) {
            font-size: 1rem;
            height: 40px;
            width: 40px;
            padding: 10px;
            top: -25px;
        }
    }
    .sentence-box-title {
        color: #232323;
        margin-bottom: 5px;
        font: 700 1rem 'Montserrat', sans-serif;
    }
    .sentence-box-text {
        color: #6e6e6e;
        font: 400 .87rem 'Montserrat', sans-serif;
    }
}

.repeat-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 60px;
    @media (max-width: 1100px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 990px) {
        grid-template-columns: 1fr 1fr;
    }
    .repeat-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &:hover {
            .img-repeat-active {
                z-index: 3;
            }
            .repeat-text {
                color: #3aa4dd;
            }
        }
    }
    .img-repeat-box {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 30px rgba(0, 0, 0, 0.06);
        background: #fff;
        padding: 10px;
        height: 80px;
        border-radius: 50%;
        width: 80px;
        position: relative;
        margin-bottom: 20px;
        img {
            position: absolute;
        }
    }
    .repeat-text {
        color: #8b8b8b;
        font: 700 1rem 'Montserrat', sans-serif;
    }
    .img-repeat-disabled {
        z-index: 2;
    }
    .img-repeat-active {
        z-index: -1;
    }
}