.advantages-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    position: relative;
    top: -20px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 576px) {
        display: none;
    }
}

.advantages-container-mob {
    .slick-slide {
        margin: 0 10px;
    }
    .slick-dots li button:before {
        color: #3aa4dd;
        font-size: 32px;
    }  
    display: none;
    @media (max-width: 576px) {
        display: block;
        margin-bottom: 60px;
    }
}

.advantages-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        height: auto;
        max-width: 100%;
    }
    p {
        text-align: center;
        font: 700 1rem 'Montserrat', sans-serif;
        @media (max-width: 990px) {
            font: 700 .75rem 'Montserrat', sans-serif;
            position: relative;
            top: -12px;
        }
    }
}